@{
    ViewData["Title"] = "Информация";
}
<div class="info">
    <h1>GPX</h1>
    <p>
        <span> (GPS eXchange Format)</span> — это текстовый формат хранения и обмена данными GPS,
        основанный на XML. GPX является свободным форматом и может быть использован без каких либо лицензионных отчислений.
    </p>
    <p>
        Формат позволяет хранить информацию об ориентирах (waypoints), маршрутах (routes) и треках (tracklogs).
        Для каждой точки хранятся её долгота, широта и высота над уровнем моря (если имеется информация о высоте).
        Для точек трека хранится также время прохождения точки.
        XML-схема предусматривает также хранение произвольной пользовательской информации по каждой точке,
        обязательными являются только долгота и широта. Примером пользовательской информации может быть высота местности(ele),
        скорость, частота пульса(hr), число шагов, темп вращения педалей (каденс)(cad), температура и т. п.
    </p>
    <h3>Пример</h3>
    <img src="~/images/primer.png" />
    <hr />
    <h1>Географические координаты</h1>
    <p>
        Географи́ческие координа́ты определяют положение точки на земной поверхности или,
        более широко, в географической оболочке. Географические координаты строятся по принципу сферических.
        Аналогичные координаты применяются на других планетах, а также на небесной сфере.
    </p>
    <h3>Широта</h3>
    <p>
        Широта — угол между местным направлением зенита и плоскостью экватора, отсчитываемый от 0° до 90°
        в обе стороны от экватора. Географическую широту точек, лежащих в северном полушарии, (северную широту)
        принято считать положительной, широту точек в южном полушарии — отрицательной. О широтах, близких к полюсам,
        принято говорить как о высоких, а о близких к экватору — как о низких.
    </p>
    <h3>Долгота</h3>
    <p>
        Долгота́ — двугранный угол между плоскостью меридиана, проходящего через данную точку,
        и плоскостью начального нулевого меридиана, от которого ведётся отсчёт долготы. Долготу от 0° до 180°
        к востоку от нулевого меридиана называют восточной, к западу — западной. Восточные долготы принято считать положительными,
        западные — отрицательными.
    </p>
</div>