@{
    ViewData["Title"] = "Регистрация";
}

@model Kurs.ViewModel.AllViewModel

<body class="block-reg">
    <form asp-controller="Home"  asp-action="Register" method="post" id="reg">
        <div class="form-group">
            <span class="text-danger">@ViewBag.ErrorEmail</span>
            <h3>Регистрация</h3>
        </div>
        <hr />
        <div class="form-group">
            <input asp-for="user.name" type="text" class="form-control" placeholder="Логин" />
            <span class="text-danger">@Html.ValidationMessageFor(m => m.user.name)</span>
        </div>
        <div class="form-group">
            <input asp-for="user.email" type="text" class="form-control" placeholder="Email" />
            <span class="text-danger">@Html.ValidationMessageFor(m => m.user.email)</span>
        </div>
        <div class="form-group">
            <input asp-for="user.password" type="password" class="form-control" placeholder="Пароль длинной не менее 8 символов" id="pass"/>
            <span class="text-danger">@Html.ValidationMessageFor(m => m.user.password)</span>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Повторите пароль" id="rep-pass"/>
            <span id="err-pass" class="text-danger">Ошибка</span>
        </div>
        <hr />
        <div class="form-group">
            <button id="btn-reg" type="submit" class="btn btn-success" disabled>Зарегистрироваться</button>
        </div>
    </form>

    <script src="~/js/reg.js" asp-append-version="true"></script>

</body>

